name: KMP Checks
on:
    workflow_call:
        inputs:
            java-version:
                type: string
                required: false
                default: 17
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
        -
            name: Checkout
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        -
            name: Configure Java
            uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
            with:
                java-version: ${{ inputs.java-version }}
                distribution: temurin
        -
            name: Configure Gradle Wrapper
            run: echo "GRADLEW_PATH=$(if [ -x ./gradlew ]; then echo './gradlew'; elif [ -x bin/gradlew ]; then echo 'bin/gradlew'; else echo 'gradlew not found'; exit 1; fi)" >> $GITHUB_ENV
        -
            name: Tests
            run: $GRADLEW_PATH check
