name: KMP Checks
on:
    workflow_call:
        inputs:
            java-version:
                type: string
                required: false
                default: 17
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
        -
            name: Checkout
            uses: actions/checkout@v4.2.2
        -
            name: Configure Java
            uses: actions/setup-java@v4.7.0
            with:
                java-version: ${{ inputs.java-version }}
                distribution: temurin
        -
            name: Configure Gradle Wrapper
            run: echo "GRADLEW_PATH=$(if [ -x ./gradlew ]; then echo './gradlew'; elif [ -x bin/gradlew ]; then echo 'bin/gradlew'; else echo 'gradlew not found'; exit 1; fi)" >> $GITHUB_ENV
        -
            name: Tests
            run: $GRADLEW_PATH check
